<dl>
	<dt>Planet</dt>
	<dd><%- name %></dd>
</dl>

Docking Bay
<div id="dockingbay"></div>

<div id="shipdetails"></div>

<div id="messages"></div>

<div id="shipcontrols"></div>

<ul>
	<li><a href="#/Planet/<%- id %>/Fleet">Fleet</a></li>
	<li><a href="#/Planet/<%- id %>/Surface">Surface</a></li>
	<li><a href="#/Planet/<%- id %>/Overview">Overview</a></li>
	<li><a href="#/Planet/<%- id %>Shipyard">Shipyard</a></li>
	<li><a href="#/Planet/<%- id %>/Platoons">Platoons</a></li>
</ul>

<div class="cargo"></div>
