<div id="map">MAP</div>
<div id="navigation">
	<table>
		<tr>
			<td><a href="#/Planet/:id/Overview" data-control="nav">Planet</a></td>
			<td><a href="#/Planet/:id/Shipyard">Shipyard</a></td>
			<td><a href="#/Planet/:id/Fleet" data-control="nav">Fleet</a></td>
			<td><a data-control="terraform">Terraform</a></td>
			<td><a href="#/Planet/:id/Platoons" data-control="nav">Platoons</a></td>
		</tr>
		<tr>
			<td><a href="#/Planet/:id/Dock" data-control="nav">Dock</a></td>
			<td><a href="#/Planet/:id/Surface" data-control="nav">Surface</a></td>
			<td><a href="#/Planet/:id/Defense" data-control="nav">Defense</a></td>
			<td><a data-control="spy">Spy</a></td>
			<td><a data-control="save">Save</a></td>
		</tr>
	</table>
</div>
<div id="planetpreview">PLANET PREVIEW</div>
<div id="settings">SETTINGS</div>
<div id="messages">MESSAGES</div>
