.planet-list {
    list-style: none;
    cursor: pointer;
}

.planet-list > li {
    border-width: 2px;
    border-color: transparent;
    border-style: solid;
    padding: 2px;
}

.planet-list > li > label {
    cursor: inherit;
}

.planet-list > li.selected {
    border-color: blue;
}

.planet-list > li .lifeless {
    color: #4e4e4e;
}

.planet.enemy label {
    color: red;
}

.planet.friendly label {
    color: green;
}

@keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/*https://stackoverflow.com/questions/23985018/simple-css-animation-loop-fading-in-out-loading-text*/
.animate-flicker {
    -webkit-animation: flickerAnimation 2s infinite;
    -moz-animation: flickerAnimation 2s infinite;
    -o-animation: flickerAnimation 2s infinite;
    animation: flickerAnimation 2s infinite;
}

.espionage-container {
    margin: 10px;
}

.espionage-list {
    padding: 0 10px;
    margin: 0;
}

.espionage-list li {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.espionage-list li > * {
    flex: 0;
    white-space: nowrap;
    margin: auto;
}

.wavey span {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    animation: wavey 1s infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes wavey {
    0%,
    100% {
        transform: translateY(0);
    }
    33% {
        transform: translateY(-2.5px);
    }
    66% {
        transform: translateY(2.5px);
    }
}
