.grid {
	display: flex;
	flex-flow: column wrap;
	max-height: 216px; /* assumed 8 items per column */
	overflow: none;
	align-items: left;
	justify-content: center;
	align-content: flex-start;
	user-select: none;
}

.grid > div {
	width: 120px;
	min-height: 18px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 2px 5px;
	margin: 2px;
	border-style: solid;
	border-color: blue;
	border-width: 0px 1px 1px 0px;
	cursor: pointer;
}
