
table.grid tr {
	height: 1.5em;
}

table.grid td {
	width: 8em;
	border-width: 1px;
	border-style: none solid solid none;
	border-color: purple;
	cursor: pointer;
}

table.grid td.selected {
	font-weight: 600;
}

table.grid td.planet.friendly {
	color: green;
}

table.grid td.planet.enemy {
	color: red;
}