<dl>
	<dt>Planet</dt>
	<dd><%- name %></dd>
</dl>

Docking Bay
<div id="dockingbay"></div>

<fieldset data-role="shipcontrols" disabled style="border:none; padding: 0; margin: 0 0 10px 0">
	<button data-control="launch">Launch</button>
	<button data-control="transfer">Transfer</button>
	<button data-control="dock">Dock</button>
</fieldset>

<div id="shipdetails"></div>

<fieldset data-role="shipcontrols" disabled style="border:none; padding: 0; margin: 0 0 10px 0">
	<button data-control="cancelmission">Cancel Mission</button>
	<button data-control="rename">Rename</button>
</fieldset>

<div id="messages"></div>

<ul>
	<li><a href="#/Planet/<%- id %>/Defense">Defense</a></li>
	<li><a href="#/Planet/<%- id %>/Shipyard">Shipyard</a></li>
	<li><a href="#/Planet/<%- id %>/Dock">Dock</a></li>
</ul>

<div id="inventory"></div>

<ul>
	<li><a href="#/Planet/<%- id %>/Surface">Surface</a></li>
	<li><a href="#/Planet/<%- id %>/Overview">Overview</a></li>
	<li><a href="#/Planet/<%- id %>/Platoons">Platoons</a></li>
</ul>
