<dl>
	<dt>Planet</dt>
	<dd><%- name %></dd>
</dl>

Docking Bay
<div id="dockingbay"></div>

<button>Launch</button>
<button>Transfer</button>
<button>Dock</button>

<div id="shipdetails"></div>

<button>Cancel Mission</nutton>
<button>Rename</button>

<div id="messages"></div>

<ul>
	<li><a href="#/Combat">Shipyard</a></li>
	<li><a href="#/Shipyard">Shipyard</a></li>
	<li><a href="#/CargoBay">Cargo Bay</a></li>
</ul>

<div id="inventory"></div>

<ul>
	<li><a href="#/Planet/<%- id %>/Surface">Surface</a></li>
	<li><a href="#/Planet/<%- id %>/Overview">Overview</a></li>
	<li><a href="#/Combat">Combat</a></li>
</ul>
