<button data-control="rename">RENAME</button>
<button data-control="transfer">TRANSFER CREDITS</button>

<div id="planetdetails"></div>

<div id="messages"></div>

<div id="navigation">
	<ul>
		<li><a href="#/Combat">Combat</a></li>
		<li><a href="#/Fleet">Fleet</a></li>
		<li><a href="#/LoadingBay">Loading Bay</a></li>
	</ul>
</div>

<div id="systemplanets"></div>

<div id="planetviews">
	<ul>
		<li><button data-control="view" value="orbit">Orbit</button></li>
		<li><button data-control="view" value="surface">Surface</button></li>
		<li><button data-control="view" value="dock">Docking Bay</button></li>
	</ul>
</div>

<div id="planetinventory"></div>
