<dl>
	<dt>Planet</dt>
	<dd><%- name %></dd>
	<dt>Date</dt>
	<dd></dd>
	<dt>Status</dt>
	<dd></dd>
	<dt>Credits</dt>
</dl>

<dd>
	<dt>Food</dt>
	<dd></dd>
	<dt>Materials</dt>
	<dd><%- materials %></dd>
	<dt>Fuels</dt>
	<dd><%- fuel %></dd>
	<dt>Energy</dt>
	<dd><%- energy %></dd>
</dd>

<dl>
	<dt>Population</dt>
	<dd><%- population %></dd>
	<dt>Population Growth</dt>
	<dd></dd>
	<dt>Moral</dt>
	<dd><%- moral %></dd>
	<dt>Tax Rate</dt>
	<dd><%- taxRate %></dd>
	<dt>Military Strength</dt>
	<dd></dd>
</dl>
