nav {
	text-align: center;
	border-top: 1px solid darkgray;
}
nav a {
	margin: .125em;
	padding: .25em .5em;
}

table.grid tr {
	height: 1.5em;
}

table.grid td {
	width: 8em;
	border-width: 1px;
	border-style: none solid solid none;
	border-color: purple;
	cursor: pointer;
}