body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex-columns {
  display: flex;
}

.flex-columns > * {
  flex: 1 1 0px;
}

.flex
{
  display: flex;
}

.flex > * {
  flex: 1 1 0px;
}

.flex-columns {

}

.flex-rows {
  flex-direction: column;
}

.flex .flex-spacer {
  flex-basis: 100%;
}

.space-around {
  justify-content: space-around;
}

dl {
  display: flex;
  flex-wrap: wrap;
}
dt {
  width: 33%;
}
dd {
  margin-left: auto;
  width: 66%;
}

.stacked-buttons {
  display: flex;
  flex-direction: column;
}

.stacked-buttons > button {
  flex: 1;
  margin: 10px;
}

button.small {
  font-size: .75em;
  line-height: 1em;
}