name: â“Check Linting

on:
    pull_request:

jobs:
    checks:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - name: Set up Node
              uses: actions/setup-node@v4

            - name: Install Dependencies
              run: npm ci

            - name: Formatting
              run: npm run format

            - name: Lint
              run: npm run lint

            - name: TSC
              run: npm run tsc

            - name: Test
              run: npm run test
